header.side{
  background-color: #ffffff;
  padding: 15px 0px 25px;
  border-radius: 0px 0px 40px 40px;
  box-shadow: 0px 0px 60px rgba(#c1cae5, 0.7s);
  position: relative;

  .col-12{
    position: relative;
  }

  .logo-container{
    .logo-link{
      display: inline-block;
      max-width: 175px;
      img{
        width: 100%;
      }
    }
  }
  
  .collapse-btn{
    position: absolute;
    top: auto;
    bottom: -25px;
    right: 30px;
    left: auto;
    border: none;
    padding: 15px 30px;
    background: $primary-color;
    border-radius: 20px 20px 20px 0px;
    box-shadow: -4px 4px 15px rgba(#2155bf, 0.2);

    img{
      transform: rotate(90deg);
      transform-origin: center center;
      transition: all ease 0.3s;
    }

    @include on-event{
      outline: none;
    }

    &.collapsed{
      img{
        transform: rotate(-90deg);
      }
    }
  }
}

@media (min-width: 768px){
  header.side{
    padding: 15px 0px 25px;
    border-radius: 0px 0px 40px 40px;
    box-shadow: 0px 0px 60px rgba(#c1cae5, 0.7s);
    position: relative;

    // width: 28.64%;
  
    .col-12{
      position: relative;
    }
  
    .logo-container{
      .logo-link{
        display: inline-block;
        max-width: 175px;
        img{
          width: 100%;
        }
      }
    }
    
    .collapse-btn{
      position: absolute;
      top: auto;
      bottom: -25px;
      right: 30px;
      left: auto;
      border: none;
      padding: 15px 30px;
      background: $primary-color;
      border-radius: 20px 20px 20px 0px;
      box-shadow: -4px 4px 15px rgba(#2155bf, 0.2);
  
      img{
        transform: rotate(90deg);
        transform-origin: center center;
        transition: all ease 0.3s;
      }
  
      @include on-event{
        outline: none;
      }
  
      &.collapsed{
        img{
          transform: rotate(-90deg);
        }
      }
    }
  }
  
}