@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
body {
  background-color: #f3f6ff;
  font-family: "Inter", times, sans-serif;
  font-style: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
}

h1,
h2,
h3,
h4,
h5 {
  color: #2155bf;
  font-weight: bold;
  line-height: 1.3;
  text-transform: none;
  margin-top: 0px;
}

h1 {
  text-transform: none;
}

p {
  color: rgba(0, 0, 0, 0.85);
  line-height: 1.3;
  word-wrap: break-word;
}

a {
  color: #000;
  line-height: 1.3;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover, a:active, a:focus {
  color: #000;
  text-decoration: underline;
}

::selection {
  background: #2155bf;
  color: #fff;
}

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.full-wd {
  width: 100%;
}

.no-margin {
  margin: 0px;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.no-break {
  white-space: nowrap;
}

img {
  margin: 0 auto;
}

@media (min-width: 576px) and (max-width: 767.9px) {
  .container {
    max-width: none;
  }
}

@keyframes animationRight {
  from {
    transform: translateX(0);
  }
  50% {
    transform: translateX(6px);
  }
  to {
    transform: translateX(0);
  }
}

header.side {
  background-color: #ffffff;
  padding: 15px 0px 25px;
  border-radius: 0px 0px 40px 40px;
  box-shadow: 0px 0px 60px rgba(193, 202, 229, 0.7);
  position: relative;
}

header.side .col-12 {
  position: relative;
}

header.side .logo-container .logo-link {
  display: inline-block;
  max-width: 175px;
}

header.side .logo-container .logo-link img {
  width: 100%;
}

header.side .collapse-btn {
  position: absolute;
  top: auto;
  bottom: -25px;
  right: 30px;
  left: auto;
  border: none;
  padding: 15px 30px;
  background: #2155bf;
  border-radius: 20px 20px 20px 0px;
  box-shadow: -4px 4px 15px rgba(33, 85, 191, 0.2);
  transition: background ease 0.5s, box-shadow ease 0.5s;
}

header.side .collapse-btn img {
  transform: rotate(90deg);
  transform-origin: center center;
  transition: all ease 0.3s;
}

header.side .collapse-btn:hover, header.side .collapse-btn:active, header.side .collapse-btn:focus {
  outline: none;
  box-shadow: 0px 0px 40px rgba(33, 85, 191, 0), inset 0px 0px 30px rgba(0, 0, 0, 0.3);
}

header.side .collapse-btn.collapsed img {
  transform: rotate(-90deg);
}

@media (min-width: 768px) {
  header.side .logo-container {
    padding-left: 20px;
  }
}

@media (min-width: 992px) {
  header.side {
    width: 40%;
    max-width: 550px;
    min-height: 100vh;
    padding-top: 30px;
    border-radius: 0px 40px 40px;
    transition: all ease 0.5s;
    transform: translateX(0);
  }
  header.side .logo-container {
    padding-left: 25px;
  }
  header.side .logo-container .logo-link {
    max-width: 220px;
  }
  header.side .collapse-btn {
    bottom: auto;
    top: 30px;
    padding: 25px 21px;
    right: 0;
    border-radius: 20px 20px 0px 20px;
  }
  header.side .collapse-btn img {
    transform: rotate(0deg);
  }
  header.side .collapse-btn.collapsed img {
    transform: rotate(180deg);
  }
  header.side:not(.show) {
    display: block !important;
    transform: translateX(calc(-100% + 60px));
  }
  .form-container {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  header.side {
    padding-top: 40px;
  }
  header.side .logo-container .logo-link {
    max-width: none;
  }
}

@media (min-width: 1200px) {
  header.side .logo-container {
    padding-left: 45px;
  }
}

.primary-button {
  background-color: #2155bf;
  color: #fff;
  padding: 16px 30px;
  border: none;
  border-radius: 30.5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  outline: none;
  transition: all 0.5s ease;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  box-shadow: 0px 0px 40px rgba(33, 85, 191, 0.3);
  outline: none;
}

.primary-button:hover, .primary-button:active, .primary-button:focus {
  color: #fff;
  background-color: #3766c5;
  text-decoration: none;
  box-shadow: none;
  box-shadow: 0px 0px 40px rgba(33, 85, 191, 0), inset 0px 0px 40px rgba(0, 0, 0, 0.3);
  outline: none;
}

.primary-button.submit-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
  margin-top: 60px;
}

.primary-button.submit-btn img {
  margin-left: 0;
}

@media (min-width: 768px) {
  .primary-button.submit-btn {
    margin-top: 30px;
  }
}

#root header.side {
  position: relative;
  z-index: 2;
}

#root .display {
  position: relative;
  padding: 50px 0px 30px;
}

@media (min-width: 992px) {
  #root {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  #root .display {
    max-width: 60%;
    padding-top: 0px;
    padding-left: 45px;
    padding-right: 45px;
    flex-grow: 1;
  }
}

@media (min-width: 1400px) {
  #root .display {
    max-width: calc(100% - 500px);
  }
}

@media (min-width: 1500px) {
  #root .display {
    padding-left: 100px;
    padding-right: 100px;
  }
}
/*# sourceMappingURL=main.css.map */